* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: rgb(63, 59, 61);
  font-weight: 300;
  background-color: rgb(233, 228, 233);
}

/* header */

header {
  background-color: aliceblue;
  width: 33vw;
  height: auto;
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  position: sticky;
  z-index: 2;
  top: 0vh;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.site-logo {
  font-family: "Sacramento", cursive;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 2rem 0 1rem 0;
}

.nav-menu {
  margin-bottom: 1rem;
}

.nav-menu ul {
  list-style: none;
}

.nav-items li {
  margin-top: 1rem;
}

.nav-items a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(63, 59, 61);
}

.nav-items a:hover {
  text-decoration: underline;
  color: black;
}

.nav-items li:first-child {
  font-weight: 400;
}

.wrapper {
  height: 100vh;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* hero */

.hero {
  background-image: linear-gradient(
      to bottom,
      rgb(233, 228, 233) 40%,
      rgb(233, 228, 233) 41%,
      rgba(233, 228, 233, 0) 80%,
      rgba(233, 228, 233, 0)
    ),
    url("img/jordan-whitfield-eAYO8vKNeFQ-unsplash.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
}

.hero-heading {
  font-size: 5rem;
  /* font-weight: 400; */
  /* text-transform: uppercase; */
  /* margin-top: 10rem; */
  text-align: center;
  font-family: "Sacramento", cursive;
}

.hero-sub-heading {
  font-size: 3.4rem;
  font-weight: 300;
  text-align: center;
  margin-top: 0.5rem;
}

.hero-action {
  align-self: center;
  border-radius: 23px;
  padding: 10px 15px 10px 15px;
  /* height: 40px; */
  /* width: 25px; */
  margin-top: 2.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(63, 59, 61);
}

.hero-action:hover {
  box-shadow: 8px 9px 55px 5px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 8px 9px 55px 5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 8px 9px 55px 5px rgba(0, 0, 0, 0.35);
}

.hero-action a {
  text-decoration: none;
  font-size: 1.6rem;
  color: rgb(233, 228, 233);
}

.hero-quote {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin-top: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 355px) {

    .hero-heading {
  font-size: 4rem;

}

.hero-sub-heading {
  font-size: 2.6rem;

}

.hero-quote {
  font-size: 1rem;

}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hero {
    background-position: center;

  }

  .hero-heading {
  font-size: 9rem;

}

.hero-sub-heading {
  font-size: 6rem;

}

.hero-quote {
  font-size: 1.7rem;

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .hero {
    background-size: 70%;
    
  }

  wrapper {
    /* margin-left: 10%;
    margin-right: 10%; */
  }
}
